:root {
    --yellow: #FFE367;
    --green: #295500;
    --blue: #00002b;
    --orange: #e37100;
    --dark-orange: #c62e00;
    --white: rgb(244, 240, 231);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue);
    color: var(--white);
}

h2 {
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 10000px) {
    #choices {
        display: flex;
        flex-direction: column;
        width: 25vw;
    }
}

@media only screen and (max-width: 1055px) {
    #categories {
        display: flex;
        flex-direction: column;
    }
    #choices {
        width: 75vw;
    }
}

#categories {
    display: flex;
    flex-wrap: wrap
}

#choices {
    margin: 20px;
    padding: 30px 0;
    text-align: left;
    align-items: center;
    background-color: var(--orange);
    color: var(--white);
    text-align: left;
    font-family: 'Space Mono', monospace;
}

#choices img {
    width: 70%;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

#choices:hover {
    border: 2px solid var(--white);
}

/* li {
    list-style: none;
} */