:root {
    --primary-bg: #05041c; 
    --main-btn: #E37100; 
    --secondary-btn: #31A5D3; 
    --tertiary-btn: #24A894;
    --hover: #ffe367; 
}

body {
    background-color: var(--primary-bg);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex: wrap;
    margin: 0;
}

.menu {
    background-color: var(--primary-bg);
    display: flex;
    justify-content: right;
    align-items: center;
    width: 35%;
    height: 100vh;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 65%;
    height: 100vh;
}

.bg-image {
    display: flex;
    height: 100vh;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    font-size: 80px;
    font-weight: bold;
}

a {
    color: white;
    font-size: 20px;
    margin-bottom: 110px;
    font-family: 'Roboto Mono', monospace;
}

.start {
    background-color: var(--main-btn);
    margin-bottom: 30px;
}

.scoreboard {
    background-color: var(--secondary-btn);
    margin-bottom: 30px;
}

.credits {
    background-color: var(--tertiary-btn);
    margin-bottom: 30px;
}

button {
    color: black;
    border: none;
    display: flex;
    width: 12rem; 
    height: 4rem;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    color: black;
    background-color: var(--hover);
}

.logo {
    width: 40rem;
    margin-top: 120px;
}
